
<%= form_for(@ss_class_session) do |f| %>
    <fieldset>
      <legend><%= @ss_class.name %> <small><%= @ss_class.year %> - Q<%= @ss_class.quarter %></small></legend>
    <p>
      <b>Class Date:</b>
      <%= render :partial => 'ss_classes/editable/session_date' %>
    </p>

    <p>
      <b>Instructor:</b>
      <%= render :partial => 'ss_classes/editable/session_instructor' %>
    </p>


      <label><b>Students</b></label>
      <%= f.text_field :attendance_tokens,
                       "data-pre" => @ss_class_session.users.map{|u| {
                               :name => [u.name_first, u.name_last].join(' '),
                               :id => u.id}
                       }.to_json %>
      <span class="help-block">Type names to add students for attendance</span>

      <%= f.submit "Update attendance", :class => "btn" %>
      <%= link_to "Back to #{@ss_class.name}",
                  @ss_class,
                  :class => "btn" %>
    </fieldset>
<% end %>


