<h3>Listing users</h3>

<table class="table table-bordered table-striped table-hover">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <% if user_permission[:admin][:write] %>
        <th>Action</th>
    <% end %>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to "#{user.name_first} #{user.name_last}", user %></td>
    <td><%= user.email %></td>
    <% if user_permission[:admin][:write] %>
        <td>
          <%= link_to 'Edit', edit_user_path(user) %>
          <%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %>
        </td>
    <% end %>
  </tr>
<% end %>
</table>

<%= link_to 'New User', new_user_path, :class => "btn btn-primary" %>
