
<p>
  <b>Type:</b>
  <%= permission_list[@permission.category] %>
</p>

<p>
  <b>Write:</b>
  <%= @permission.can_write %>
</p>

<p>
  <b>Read:</b>
  <%= @permission.can_read %>
</p>

<p>
  <b>User:</b>
  <%= @permission.user.name %>
</p>

<%= link_to 'Back', permissions_path %>
