<h1>Listing ss_attendances</h1>

<table>
  <tr>
    <th>User</th>
    <th>Session</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ss_attendances.each do |ss_attendance| %>
  <tr>
    <td><%= ss_attendance.user_id %></td>
    <td><%= ss_attendance.session_id %></td>
    <td><%= link_to 'Show', ss_attendance %></td>
    <td><%= link_to 'Edit', edit_ss_attendance_path(ss_attendance) %></td>
    <td><%= link_to 'Destroy', ss_attendance, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ss attendance', new_ss_attendance_path %>
