<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @ss_attendance.user_id %>
</p>

<p>
  <b>Session:</b>
  <%= @ss_attendance.session_id %>
</p>


<%= link_to 'Edit', edit_ss_attendance_path(@ss_attendance) %> |
<%= link_to 'Back', ss_attendances_path %>
