<tr id="session_row_<%= @ss_class_session.id %>">
  <td><%= view_session_date %></td>
  <td><%= view_session_instructor %></td>
  <td></td>
  <% if signed_in? %>
    <% if SsAttendance.where(:user_id => current_user.id).where(:ss_class_session_id => @ss_class_session.id).first %>
      <td class="success" style="background-color: #DFF0D8; text-align: center;">X</td>
    <% else %>
      <td></td>
    <% end %>
  <% end %>
  <% if user_permission[:ss][:write] %>
      <td>
        <%= link_to raw("#{icon_html('edit')} Edit/Attendance"),
                    ss_class_session_path(@ss_class_session)
        %> | <%= link_to raw("#{icon_html('remove')} Remove"),
                    @ss_class_session,
                    confirm: 'Are you sure?',
                    method: :delete
        %>
      </td>
  <% end %>

</tr>