<%= form_for(@ss_class, :html => {:class => "form-horizontal"}) do |f| %>
    <% if @ss_class.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@ss_class.errors.count, "error") %> prohibited this ss_class from being saved:</h2>

      <ul>
      <% @ss_class.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <div class="control-group">
      <%= f.label :name,
                  "Class Name",
                  :class => "control-label"
      %>
      <div class="controls">
        <%= f.text_field :name,
                         :placeholder => "Enter Name" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :year,
                  "Year",
                  :class => "control-label"
      %>
      <div class="controls">
        <%= f.select    :year,
                        ( (Time.now.year-5)..(Time.now.year+3) ).map{ |y| [y,y] },
                        {:selected => Time.now.year}
                         %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :quarter,
                  "Quarter",
                  :class => "control-label"
      %>
      <div class="controls">
        <%= f.select    :quarter,
                        ( 1..4 ).map{ |y| ["Q#{y}",y] }
        %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :book_id,
                  "Book",
                  :class => "control-label"
      %>
      <div class="controls">
        <%= f.select    :book_id,
                        Bible.all.collect { |b| [b.name, b.id]}
        %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :category,
                  "Class Type",
                  :class => "control-label"
      %>
      <div class="controls">
        <%= f.number_field :category %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :instructor_tokens,
                  "Instructors",
                  :class => "control-label"
      %>

        <%= f.text_field :instructor_tokens,
                         "data-pre" => @ss_class.instructors.map{|u| {
                                 :name => [u.name_first, u.name_last].join(' '),
                                 :id => u.id}
                         }.to_json %>

    </div>
    <div class="form-actions">
      <%= f.submit "Create Class", :class => "btn btn-primary" %>
      <%= link_to 'Back', ss_classes_path, :class => "btn" %>
    </div>
<% end %>
