<div class="row">
  <div class="span3 well">
    <%= form_tag ss_classes_path,
                 :method =>'get',
                 :class => "" do %>
        <fieldset>
          <legend>Search</legend>
          <label>Year</label>
          <%= text_field_tag :year,
                             params[:year],
                             :placeholder => "Year",
                             :class => "input-block-level"
                             %>

          <label>Book</label>
          <%= select_tag :book,
                         options_for_select(bible_collection.map{|l| l.reverse}.prepend(["Any", nil]), params[:book]) ,
                         :class => "input-block-level"
          %>
          <label>Name</label>
          <%= text_field_tag :name,
                             params[:name],
                             :placeholder => "Enter keywords",
                             :class => "input-block-level"
          %>
          <button type="submit" class="btn btn-primary"><%= icon_html(:search, true) %>Search</button>
        </fieldset>
    <% end %>
  </div>
  <div class="span8">

    <h3>Sunday School Classes</h3>

    <table class="table table-bordered table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Year</th>
        <th>Quarter</th>
        <th>Book</th>
        <% if @permission[:write] %>
            <th></th>
        <% end %>
      </tr>

      <% @ss_classes.each do |ss_class| %>
          <tr>
            <td><%= link_to ss_class.name, ss_class %></td>
            <td><%= ss_class.year %></td>
            <td><%= "Q#{ss_class.quarter}" %></td>

            <td><%= bible_list[ss_class.bible_id] %></td>
            <% if @permission[:write] %>
                <td><%= link_to 'Edit', edit_ss_class_path(ss_class) %> | <%=
                    link_to 'Destroy', ss_class, confirm: 'Are you sure?', method: :delete %></td>
            <% end %>
          </tr>
      <% end %>
    </table>

    <br />

    <% if @permission[:write] %>
        <%= link_to 'Add new class', new_ss_class_path, :class => "btn btn-primary" %>
    <% end %>

  </div>
</div>
