<p id="notice"><%= notice %></p>

<h2><%= @ss_class.name %> <small><%= "#{@ss_class.year} - Q#{@ss_class.quarter}" %></small></h2>
<p>
  <b>Book:</b>
  <%= @ss_class.book_id %> <br>
  <strong>Instructors: </strong>
  <%= instructor_list(@ss_class.instructors) %>
</p>

<table class="table table-bordered table-striped table-hover">
  <tr id="table-header">
    <th>Date</th>
    <th>Instructor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @ss_sessions.each do |ss_class_session| %>
      <tr>
        <td><%= ss_class_session.date %></td>
        <td><%= ss_class_session.instructor.name_first %></td>
        <td><%= link_to 'Show', ss_class_session %></td>
        <td><%= link_to 'Edit', edit_ss_class_session_path(ss_class_session) %></td>
        <td><%= link_to 'Destroy', ss_class_session, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
  <% end %>
</table>


<div class="form-actions">
  <%= link_to 'Edit',
              edit_ss_class_path(@ss_class),
              :class => "btn btn-primary" %>
  <%= link_to 'Back',
              ss_classes_path,
              :class => "btn" %>
  Create New Session
  <%= link_to 'Create New Session', {:action => 'new_session', :controller => 'ss_classes'}, :remote => true %>
  <!-- Button to trigger modal -->
  <a href="#edit_instructors" role="button" class="btn" data-toggle="modal">Edit Instructors</a>
</div>


<!-- Modal -->
<div id="edit_instructors" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Instructors for <%= @ss_class.name %> <small><%= "#{@ss_class.year} - Q#{@ss_class.quarter}" %></small></h3>
  </div>

  <div class="modal-body form-horizontal">
    <h4>Add New Instructor</h4>
    <%= form_for(@ss_instructor, :html => {:style => "margin: 0px;"}) do |f| %>
    <div class="control-group">
      <%= f.label :user_id,
                  "Name",
                  :class => "control-label"
      %>
      <div class="controls">
        <div class="input-append">
          <%= f.hidden_field :class_id, :value => @ss_class.id %>
          <%= f.select    :user_id,
                          @users.collect { |u| [u.name, u.id] }%>
          <%= f.submit "+", :class => "btn btn-primary" %>
        </div>
      </div>
    </div>
    <% end %>
    <hr>
    <h4>Remove Instructor</h4>
    <div class="form-horizontal">
        <% @ss_class.ss_instructors.each do |class_instructor| %>
          <div class="control-group">
            <label class="control-label"><%= class_instructor.user.name %></label>
            <div class="controls">
              <%= link_to 'Remove', class_instructor ,
                          :confirm => 'Are you sure?',
                          :method => :delete,
                          :class => "btn btn-danger" %>
            </div>
          </div>
        <% end %>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>

  </div>


</div>