<h2><%= view_name %> <small><%= view_year %> - <%= view_quarter %></small></h2>
<p>
  <b>Book:</b> <%= view_book %> <br>
  <strong>Instructors: </strong>
  <% if user_permission[:ss][:write] %>
    <div class="span8">
      <%= form_for(@ss_class, :html => {:class => "form-inline"}) do |f| %>
          <div class="input-append">
            <div class="pull-left">
              <%= f.text_field :instructor_tokens,
                               "data-pre" => @ss_class.instructors.map{|u| {
                                       :name => [u.name_first, u.name_last].join(' '),
                                       :id => u.id}
                               }.to_json
              %>
            </div>

            <%= f.submit "Update", :class => "btn btn-primary" %>
          </div>
      <% end %>
    </div>
  <% else %>
    <%= instructor_list(@ss_class.instructors) %>
  <% end %>
</p>

<table class="table table-bordered table-striped table-hover">
  <tr id="table-header">
    <th>Date</th>
    <th>Instructor</th>
    <th>Random Materials</th>
    <% if signed_in? %>
        <th>Present?</th>
    <% end %>
    <% if user_permission[:ss][:write] || is_instructor? %>
        <th>Actions</th>
    <% end %>
  </tr>

  <% @ss_sessions.each do |ss_class_session| %>
      <% @ss_class_session = ss_class_session %>
      <%= render :partial => 'display_row' %>
  <% end %>
</table>


<div class="form-actions">
    <%= view_btn_new_session %>
    <%= view_btn_attendance %>
    <%= link_to 'Back',
                ss_classes_path,
                :class => "btn" %>
</div>