<h2><%= best_in_place @ss_class,
                      :name %> <small><%= best_in_place @ss_class,
                                                           :year
                                      %> - <%= best_in_place @ss_class,
                                                        :quarter,
                                                        :type => :select,
                                                        :collection => [[1,'Q1'],[2,'Q2'],[3,'Q3'],[4,'Q4']]
                                      %></small></h2>
<p>
  <b>Book:</b>
  <%= best_in_place @ss_class,
                    :bible_id,
                    :type => :select,
                    :collection => Bible.all.collect {|b| [b.id, b.name]}%> <br>
  <strong>Instructors: </strong>
  <%#= instructor_list(@ss_class.instructors) %>
</p>
<div class="span8">
  <%= form_for(@ss_class, :html => {:class => "form-inline"}) do |f| %>
      <div class="input-append">
        <div class="pull-left">
          <%= f.text_field :instructor_tokens,
                           "data-pre" => @ss_class.instructors.map{|u| {
                                   :name => [u.name_first, u.name_last].join(' '),
                                   :id => u.id}
                           }.to_json
          %>
        </div>

      <%= f.submit "Update", :class => "btn btn-primary" %>
      </div>
  <% end %>

</div>





<table class="table table-bordered table-striped table-hover">
  <tr id="table-header">
    <th>Date</th>
    <th>Instructor</th>
    <th>Random Materials</th>
    <th>Actions</th>
  </tr>

  <% @ss_sessions.each do |ss_class_session| %>
      <% @ss_class_session = ss_class_session %>
      <%= render :partial => 'display_row' %>
  <% end %>
</table>


<div class="form-actions">
    <%= link_to 'Create New Session',
                {
                        :action => 'new_session',
                        :controller => 'ss_classes'
                },
                :remote => true,
                :class => "btn btn-primary"
    %>
    <%= link_to 'View Attendance',
              {
                      :action => 'attendance',
                      :controller => 'ss_classes'
              },
              :class => "btn btn-info"
    %>
    <%= link_to 'Back',
                ss_classes_path,
                :class => "btn" %>
</div>