<p id="notice"><%= notice %></p>

<h2><%= @ss_class.name %> <small><%= "#{@ss_class.year} - Q#{@ss_class.quarter}" %></small></h2>
<p>
  <b>Book:</b>
  <%= @ss_class.book_id %> <br>
  <strong>Instructors: </strong>
  <%= instructor_list(@ss_class.instructors) %>
</p>

<table class="table table-bordered table-striped table-hover">
  <tr id="table-header">
    <th>Date</th>
    <th>Instructor</th>
    <th>Random Materials</th>
    <th>Actions</th>
  </tr>

  <% @ss_sessions.each do |ss_class_session| %>
      <% @ss_class_session = ss_class_session %>
      <%= render :partial => 'display_row' %>
  <% end %>
</table>


<div class="form-actions">
  <%= link_to 'Edit',
              edit_ss_class_path(@ss_class),
              :class => "btn btn-primary" %>
  <%= link_to 'Back',
              ss_classes_path,
              :class => "btn" %>
  <%= link_to 'Create New Session',
              {
                      :action => 'new_session',
                      :controller => 'ss_classes'
              },
              :remote => true,
              :class => "btn"
  %>
</div>