<%= form_for(@ss_instructor) do |f| %>
  <% if @ss_instructor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ss_instructor.errors.count, "error") %> prohibited this ss_instructor from being saved:</h2>

      <ul>
      <% @ss_instructor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :class_id %><br />
    <%= f.number_field :class_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
