<h1>Listing ss_instructors</h1>

<table>
  <tr>
    <th>User</th>
    <th>Class</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ss_instructors.each do |ss_instructor| %>
  <tr>
    <td><%= ss_instructor.user_id %></td>
    <td><%= ss_instructor.class_id %></td>
    <td><%= link_to 'Show', ss_instructor %></td>
    <td><%= link_to 'Edit', edit_ss_instructor_path(ss_instructor) %></td>
    <td><%= link_to 'Destroy', ss_instructor, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ss instructor', new_ss_instructor_path %>
