<!DOCTYPE html>
<html>
<head>
  <title>Sunday School Database =D</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application", "token-input-facebook" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/header' %>

<div class="container">
  <div id="flash">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %><button type='button' class='close' data-dismiss='alert'>&times;</button></div>
    <% end %>
  </div>
  <%= yield %>
  <%= render 'shared/footer' %>
</div>
<% if Rails.env.development? %>
    <% if @permission %>
        <p>Can Create? <%= @permission[:create] %></p>
        <p>Can Write? <%= @permission[:write] %></p>
    <% end %>
    <%= debug(params) %>
<% end %>
</body>
</html>
